<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../public/Stylesheets/main.css" />
    <title>View Post</title>
  </head>
  <body>
    <main class="section">
      {{#each posts}}
        <h2>Created by {{user.username}} on {{this.createdAt}}</h2>
        <h1 class="title">{{this.title}}</h1>
        <h3 class="subtitle">{{this.body}}</h3>
        <article class="media">
          <div class="tile is-ancestor">
            <div class="tile is-vertical">
              {{#each comments as |comment|}}
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{user.username}}</strong>
                      <br />
                      {{comment.body}}
                    </p>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </article>
         <section id="make-Comment">
        <h2>Make a Comment</h2>
        <form action="/api/posts/{{id}}" method="POST">
            <div>
                <label for="body">Content</label>
                <textarea
                name="body"
                id="body"
                cols="30"
                rows="2"
                placeholder="Content"
                ></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
      {{/each}}
    </main>
   
  </body>
</html>